/* LIMPAR FORMATAÇÕES PADRÕEs*/

* {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO*/
#area-cabecalho {
    background-color: #141212;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 40px;
    /*background: #ccc;*/

}

#area-classificacoes-meio{
    /*background-color: red;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    
    
}

#area-direita{
    display: flex;
    align-items: center;
   /*background-color: blue;*/
    gap: 20px;
}

/*CONTEUDO HOME*/

.banner {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
}

.botao-catalogo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    width: 500px;
}
/*FORMATAÇÕES MENU*/

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #FFF;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}


